# valaxy
fuse-list.json

# vite-ssg
.vite-ssg-dist
.vite-ssg-temp

# add lock for ci
# pnpm-lock.yaml
package-lock.json
yarn.lock

temp/
tempCodeRunnerFile.python

.DS_Store
*.local
dist
dist-ssr
node_modules
.idea/
*.log
.editorconfig

components.d.ts

# valaxy
public/valaxy-fuse-list.json
